<h1><%= t "title" %></h1>
<p><%= t "user_mailer.account_activation.content.hi"%> <%= @user.name %>,</p>
<p><%= t "user_mailer.account_activation.content.description"%> </p>
<%= link_to t('user_mailer.account_activation.content.activate'), edit_account_activation_url(id: @user.activation_token, email: @user.email) %>
